$bg-color: #F7F7F7;
$bg-dark-color: #64B3A5;
$bg-default-block-color: #f4f4f4;
$bg-accent-block-color: #7AA6B7;
$text-accent-block-color: #ffffff;
$bg-showcase-color: #999;
$bg-code-color: #F7F4E6;

* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
html,
body {}
body {
  margin: 0 auto;
  background-color: #f2f2f2;
  color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  color: $bg-dark-color;
  margin: 0;
}
h1 {
  margin: 0;
  font-size: 50px;
}
header {
  background: $bg-dark-color;
  display: block;
  margin: 0;
  color: $bg-color;
  overflow: hidden;
  h1 {
    padding-top: 20px;
    color: $bg-color;
  }
  h2 {
    margin: 0;
    font-size: 14px;
    color: $bg-color;
    padding-bottom: 19px;
  }
}
section {
  margin: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background: $bg-color;
}

.content {
  max-width: 680px;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
}

.default-block {
  width: 100%;  
}

.accent-block {
  width: 100%;
  background: $bg-accent-block-color;
  color: $text-accent-block-color
}

.show-reel {
  text-align: center;
  margin-bottom: 8px;
  .lsb-preview {
    display: inline-block;
    float: none;
    width: 95px;
  }
}

.showcase {
}

.code {
  background: $bg-code-color;
  margin-bottom: 1em;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 11px;
  color: #4B756E;
  padding: 7px;
  line-height: 16px
}

.lsb-preview {
  display: block;
  float: left;
  width: 25%;
  background-color: #fff;
  
  &:hover {
    img {
      opacity: .85;
    }  
  }
  &:active {
    img {
      opacity: .7;
    }
  }
  
  img {
    width: 100%;
    height: auto;
    vertical-align: bottom; // Image aligns according baseline.
  }
}
