/* line 2, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
.lightspeed-box {
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.84);
  z-index: 999;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  box-sizing: border-box; }
  /* line 18, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
  .lightspeed-box.lsb-active {
    visibility: visible;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100%; }
  /* line 30, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
  .lightspeed-box .lsb-content {
    display: block;
    text-align: center;
    margin: auto;
    padding: 20px;
    transition: all 0.5s;
    height: 100%; }
  /* line 39, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
  .lightspeed-box img.lsb-image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 0%;
    max-width: 0%;
    min-width: 0;
    min-height: 0;
    margin: auto;
    box-shadow: 0 0 15px black;
    transition: all 0.5s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    /* line 69, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .lightspeed-box img.lsb-image.lsb-image-loaded {
      max-height: 100%;
      max-width: 100%; }
  /* line 75, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
  .lightspeed-box .lsb-controls {
    transition: all 0.5s ease-in-out;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 999; }
    /* line 83, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .lightspeed-box .lsb-controls .lsb-control {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 40px;
      line-height: 40px;
      border-radius: 3px;
      font-size: 24px;
      font-family: sans-serif;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.76);
      color: #b7b7b7;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      box-shadow: 0 0 1px grey; }
      /* line 99, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .lightspeed-box .lsb-controls .lsb-control:hover {
        background-color: rgba(67, 67, 67, 0.76); }
        /* line 101, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
        .lightspeed-box .lsb-controls .lsb-control:hover::before, .lightspeed-box .lsb-controls .lsb-control:hover::after {
          background-color: #dbdbdb; }
      /* line 106, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .lightspeed-box .lsb-controls .lsb-control:active {
        background-color: #838383; }
    /* line 111, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .lightspeed-box .lsb-controls .lsb-download {
      width: 47px;
      color: transparent; }
      /* line 115, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .lightspeed-box .lsb-controls .lsb-download::before, .lightspeed-box .lsb-controls .lsb-download::after {
        content: '';
        display: block;
        background-color: #696969;
        position: absolute;
        top: 0;
        left: 0; }
      /* line 123, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .lightspeed-box .lsb-controls .lsb-download::before {
        width: 20px;
        height: 4px;
        border-radius: 2px;
        transform: translate(13px, 13px);
        background-color: #696969; }
      /* line 130, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .lightspeed-box .lsb-controls .lsb-download::after {
        height: 0;
        width: 0;
        border: 9px solid transparent;
        border-top-color: #696969;
        background-color: transparent;
        transform: translate(14px, 20px); }
      /* line 139, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .lightspeed-box .lsb-controls .lsb-download:hover::after {
        background-color: transparent;
        border-top-color: #dbdbdb; }
    /* line 146, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .lightspeed-box .lsb-controls .lsb-next::before, .lightspeed-box .lsb-controls .lsb-next::after, .lightspeed-box .lsb-controls .lsb-prev::before, .lightspeed-box .lsb-controls .lsb-prev::after {
      content: '';
      display: block;
      width: 17px;
      height: 4px;
      background-color: #696969;
      border-radius: 2px;
      position: absolute;
      top: 0;
      left: 0; }
    /* line 158, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .lightspeed-box .lsb-controls .lsb-next:first-child, .lightspeed-box .lsb-controls .lsb-prev:first-child {
      margin-right: 12px; }
    /* line 161, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .lightspeed-box .lsb-controls .lsb-next:last-child, .lightspeed-box .lsb-controls .lsb-prev:last-child {
      margin-left: 12px; }
    /* line 167, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .lightspeed-box .lsb-controls .lsb-prev::before {
      transform: translate(40px, 13px) rotate(-35deg); }
    /* line 170, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .lightspeed-box .lsb-controls .lsb-prev::after {
      transform: translate(40px, 21px) rotate(35deg); }
    /* line 176, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .lightspeed-box .lsb-controls .lsb-next::before {
      transform: translate(43px, 13px) rotate(35deg); }
    /* line 179, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .lightspeed-box .lsb-controls .lsb-next::after {
      transform: translate(43px, 21px) rotate(-35deg); }

/* line 188, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
.fading-spinner.wait-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  /* line 195, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
  .fading-spinner.wait-icon .spin-circle::before {
    background-color: #DA8BE0; }

/* line 200, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
.fading-spinner {
  margin: auto;
  width: 70px;
  height: 70px;
  position: relative; }
  /* line 206, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
  .fading-spinner .spin-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    /* line 212, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle::before {
      content: '';
      display: block;
      margin: 0 auto;
      width: 15%;
      height: 15%;
      background-color: #ffffff;
      border-radius: 50%;
      animation: circleFadeDelay 1.2s infinite ease-in-out both; }
    /* line 222, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle:nth-child(1) {
      transform: rotate(30deg); }
      /* line 225, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .fading-spinner .spin-circle:nth-child(1)::before {
        animation-delay: -1.3s; }
    /* line 222, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle:nth-child(2) {
      transform: rotate(60deg); }
      /* line 225, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .fading-spinner .spin-circle:nth-child(2)::before {
        animation-delay: -1.4s; }
    /* line 222, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle:nth-child(3) {
      transform: rotate(90deg); }
      /* line 225, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .fading-spinner .spin-circle:nth-child(3)::before {
        animation-delay: -1.5s; }
    /* line 222, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle:nth-child(4) {
      transform: rotate(120deg); }
      /* line 225, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .fading-spinner .spin-circle:nth-child(4)::before {
        animation-delay: -1.6s; }
    /* line 222, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle:nth-child(5) {
      transform: rotate(150deg); }
      /* line 225, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .fading-spinner .spin-circle:nth-child(5)::before {
        animation-delay: -1.7s; }
    /* line 222, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle:nth-child(6) {
      transform: rotate(180deg); }
      /* line 225, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .fading-spinner .spin-circle:nth-child(6)::before {
        animation-delay: -1.8s; }
    /* line 222, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle:nth-child(7) {
      transform: rotate(210deg); }
      /* line 225, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .fading-spinner .spin-circle:nth-child(7)::before {
        animation-delay: -1.9s; }
    /* line 222, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle:nth-child(8) {
      transform: rotate(240deg); }
      /* line 225, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .fading-spinner .spin-circle:nth-child(8)::before {
        animation-delay: -2s; }
    /* line 222, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle:nth-child(9) {
      transform: rotate(270deg); }
      /* line 225, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .fading-spinner .spin-circle:nth-child(9)::before {
        animation-delay: -2.1s; }
    /* line 222, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle:nth-child(10) {
      transform: rotate(300deg); }
      /* line 225, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .fading-spinner .spin-circle:nth-child(10)::before {
        animation-delay: -2.2s; }
    /* line 222, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle:nth-child(11) {
      transform: rotate(330deg); }
      /* line 225, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .fading-spinner .spin-circle:nth-child(11)::before {
        animation-delay: -2.3s; }
    /* line 222, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
    .fading-spinner .spin-circle:nth-child(12) {
      transform: rotate(360deg); }
      /* line 225, D:/yadisk/YandexDisk/web-dev/lsb-lightbox/src/lsb.scss */
      .fading-spinner .spin-circle:nth-child(12)::before {
        animation-delay: -2.4s; }

@keyframes circleFadeDelay {
  0%,
  39%,
  100% {
    opacity: 0; }
  40% {
    opacity: 1; } }

/*# sourceMappingURL=lsb.css.map */